enabled: true
eggChance: 0.03
lootingChance: 0.02
removeDrops: true
allowedTypes:
  - SHEEP
  - PIG
  - COW
  - BAT
  - CHICKEN
  - WOLF
  - SQUID
  - MUSHROOM_COW
  - RABBIT
  - HORSE
  - DONKEY
  - MULE
  - VILLAGER
  - LLAMA
  - OCELOT
  - FOX
  - COD
  - TROPICAL_FISH
  - SALMON
  - TURTLE
  - DOLPHIN
  - BEE