enabled: true
# Hide item data like enchantments, firework effects, book data, potion, etc..
hideItemMeta: false
# Hide potion effects on entities, except for particles
hideEffects: true
# Hide the health of entities
hideHealth: true