enabled: false
trackingDepth: 16
clearOnMatch: true
minDepthToMatch: 2
watchedMaterials:
  - CHEST
  - FURNACE
  - DROPPER
  - DISPENSER
  - JUKEBOX
  - NOTE_BLOCK
  - BEACON
  - ENDER_CHEST
  - SPONGE
  - HOPPER
  - PISTON_BASE
  - PISTON_STICKY_BASE
  - OBSERVER