enabled: true
# Value between 0 and 1 that determines the percentage chance that a bee will replace
# the natural spawning of a passive creature should certain conditions be met.
# Default: 0.2 (20%)
spawnChance: 0.1
# Value between 0 and 1 that determines the percentage chance that a bee will lose
# its stinger and thus die when successfully attacking an entity.
# Default: 1.0 (100%)
severStingerChance: 0.7