enabled: false
intervalTime: 15m
#Since we use the tellraw command to dispatch dogfacts now, all our announcements **MUST** be in JSON format
#YAML also doesn't like JSON's usage of "" so we have to add escape characters (\) to counteract that.
#Here's the site I used to make these ones: https://minecraft.tools/en/json_text.php
announcements:
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Join the Official Discord at https://discord.gg/eXE8X9HkFF","color":"green","clickEvent":{"action":"open_url","value":"https://discord.gg/eXE8X9HkFF"}}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Visit our wiki at civwiki.org","color":"green","clickEvent":{"action":"open_url","value":"https://civwiki.org/wiki/Main_Page"}}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Check out the map at ccmap.github.io","color":"green","clickEvent":{"action":"open_url","value":"https://ccmap.github.io/"}}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Type /g ! to join global chat","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Type /vote to vote for CivClassic and receive essence!","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Gold blocks work as elevators, shift to go down and spacebar to go up","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"For the best experience use 1.16.5 - other versions are not officially supported","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Do not put buttons or signs over an elevator - or it will be blocked and you will not be able to teleport back to that block!","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Consider donating to the server at patreon.com/civclassic!","color":"green","clickEvent":{"action":"open_url","value":"https://www.patreon.com/civclassic"}}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Diamonds spawn in big veins - all other ores spawns randomly as you dig","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"If you do not sleep, the phantoms will get you!","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Typing /config will let you adjust various settings","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Type /rb to see the crop information for the biome you are in","color":"green"}]'
  - '["",{"text":"[CivClassic] ","color":"gold"},{"text":"Type /chunklimits to see the restrictions on how many blocks can be placed in a chunk","color":"green"}]'