enabled: true
disablePotatoXP: false
villagerTrading: false
witherSpawning: false
patrolSpawning: false
phantomSpawning: true
enderChestPlacement: true
enderChestUse: false
shulkerBoxUse: false
totemPower: false
chorusFruitTeleportation: false
weepingAngel:
  enabled: false
  environment: 5000
  playerKill: 5000
blockWaterInHell: true
minecartTeleport: true
obsidianGenerators: true
personalDeathMessages: false
disableNetheriteCrafting: false
goldBlockTeleport: false