enabled: true
# Does not fully work atm
blockElytraBreakBug: false
damageOnElytraBreakBug: 0.0
canStorageTeleport: false
stopHopperDupe: false
stopRailDupe: true
stopEndPortalDeletion: true
stopBedBombingInHellBiomes: true
stopAnchorBombing: true
preventTreeWraparound: true
maintainFlatBedrock: false
fixPearlGlitch: false
preventLongSigns: true
signLengthLimit: 100
preventLongSignsAbsolute: true
cancelLongSignEvent: false
hardLimitBookPageCount: true