enabled: true
allowSheepDying: true
allowUsingAnvils: true
allowUsingEnchantingTables: true
infiniteCauldrons: true
disableEnderDragon: true
disableIronFarms: true
disableEnderCrystalDamage: true
disableMiningFatigue: true
canEquipBanners: true
disableLavaCobbleMountains: true
disableWanderingTrader: false
preventPearlGlitching: true
preventUsingEyeOfEnder: true
disablePiglins: false
disableGapples: true
disableEndGatewayTP: false