enabled: false
into:
  - org.bukkit.event.player
  - org.bukkit.event.entity
  - org.bukkit.event.block
  - org.bukkit.event.inventory
  - org.bukkit.event.enchantment
  - org.bukkit.event.hanging
  - org.bukkit.event.painting
  - org.bukkit.event.vehicle
  - org.bukkit.event.weather
  - org.bukkit.event.world