enabled: true  
follow: true
contents:
  title: Welcome ${player}!
  author: TangentialThreat
  pages: 
    - "&5Hello and welcome to Civclassic, &2${player}!\n\n   &1ExilePearl&r\nKill other players while holding an ender pearl to banish them from the location their pearl is stored at. Stored pearls require Mana. Be warned that allies of pearled players may hunt you down..."
    - "   &1MemeMana&r\nYou get Mana every day for logging in regularly. This is used to maintain an Exile Pearl and is very valuable to some players. Selling your Mana can be a good way to get some starting resources."
    - "   &1Namelayer&r\nManage groups! Type \"/nljg ! !\" without quotes for global chat and \"/g !\" to chat in the group. Type \"/nl\" to create and join groups. Many other features use groups – lock your doors so only your allies can enter with Citadel! Forge friendships!"
    - "   &1Citadel&r\nDon’t be the first two of the three little piggies! \"/ctf\" (usually followed by a group name) while holding stone (not cobble) and then place blocks. Your house is now 50x stronger!"
    - "Build a mighty fortress or anime pixel art! Type \"/ctdl\" to see a list of other reinforcement types. Learn about the Bastion plugin if your monastery requires a moat."
    - "   &1JukeAlert&r\nAn alarm system for your castle and a way to spy on your friends and enemies. Use Citadel to reinforce a noteblock or a jukebox. Noteblocks will alert you when someone not on the group walks past, and jukeboxes will store a log of nearby activities"
    - "such as opening chests and breaking blocks. \"/ja\" will open a GUI. It is dangerous to steal from people who have mastered both JukeAlert and PrisonPearl..."
    - "   &1FactoryMod&r\nStoke the fires of industry by filling a chest with 8x64 charcoal, placing a crafting table next to the chest, and then a furnace containing more charcoal next to the crafting table. Hit the crafting table with a stick twice, add wood to the chest, and then"
    - "hit the furnace with a stick. You are now a wealthy charcoal baron capable of producing one of many items faster and more efficiently than those savages still using furnaces! Type \"/fm\" for more info – almost all items have factories."
    - "   &1RealisticBiomes&r\nYou will starve! Crops and trees require sunlight or glowstone, grow slowly across the board, and do not grow in inappropriate biomes. This encourages trade and warfare because diverse crops are required for FactoryMod XP production."
    - "   &5Closing Remarks&r\nType /help for more info on everything. Go to https://redd.it/j3nk2f for a more detailed guide. There is much more to learn."
    - "If you would like to report hacks or glitches, please message the admins through subreddit modmail at reddit.com/r/civclassics\n\nDisclaimer: &2TangentialThreat&r is not staff and should not be trusted."