enabled: true
announce: '&f%Player% is brand new!'
giveIntroKitToRandomSpawners: false
broadcast: [CONSOLE, ALL]
helptips: on 
helptips_end: 20m
introkit:  
  enabled: true
  contents:  
    - ==: org.bukkit.inventory.ItemStack
      type: COOKIE
      amount: 32  
      meta:
        ==: ItemMeta
        meta-type: UNSPECIFIC
        lore:
        - "Gift from the Admins as you"
        - "begin your journey on CivClassic"
    - ==: org.bukkit.inventory.ItemStack
      type: BED
      amount: 1  
      meta:
        ==: ItemMeta
        meta-type: UNSPECIFIC
        lore:
        - "This world is unforgiving."
        - "Be sure to get a good night's"
        - "rest soon."
    - ==: org.bukkit.inventory.ItemStack
      type: BOAT
      amount: 1
      meta:
        ==: ItemMeta
        meta-type: UNSPECIFIC
        lore:
        - "The world is your oyster"
    - ==: org.bukkit.inventory.ItemStack
      type: MINECART
      amount: 1
      meta:
        ==: ItemMeta
        meta-type: UNSPECIFIC
        lore:
        - "This will help you"
        - "get on track."