enabled: true
# Hides what enchantment will be granted within the Enchanting Table
hideEnchants: true
# Automatically fills the consumable slot with the Enchanting Table with Lapis Lazuli that cannot be taken
fillLapis: true
# Randomises the enchantment offers each time the item is placed in an Enchanting Table
randomiseEnchants: true
# Force enchantments to cost what they appear in the Enchanting Table
fixEnchantCosts: true
# Experience modifier, all experience drops will be multiplied by this (does not apply to player exp)
# NOTE: Modifier must be 0 or greater
experienceModifier: 0.2
# Loot modifier, multiply the amount of exp dropped from each level of Looting (does not apply to player exp)
# NOTE: Modifier must be 0 or greater
lootModifier: 1.5
# Enables xp bottles to be crafted from emeralds and vice versa
emeraldCrafting: true
# Enables gaining xp from emeralds directly if emeraldCrafting is enabled
emeraldLeveling: true
# Disables exp from mobs, fishing, mining, breeding, furnace extracting, etc
disableGrindExp: true
# Prevents exp orbs from granting xp
preventOrbExp: true
# Ensures that the player who threw the xp bottle is the one to get the xp (experienceModifier does not apply)
directBottleExp: true
# Defines the maximum repair cost of an item
# NOTE: Value must be 2 or greater, or -1 to disable
maxRepairCost: 33
# Defines the set amount of xp that xp bottles will produce
# NOTE: Value must be a 0 or greater, or -1 for vanilla random
expPerBottle: 10
# Allows player's to store their levels in bottles if expPerBottle has a value higher than 0
allowExpRecovery: true
# Disallows players from creating enchanted books
disableEnchantedBookCreation: true
# Disallows players from using enchanted books
disableEnchantedBookUsage: false
# Modifies the exp drops for specific mob types, which will be used in lieu of experienceModifier
# NOTE: Players have an implicit modifier of 1.0
# NOTE: Modifiers must be 0 or greater
entityExpDropModifiers:
  ENDER_DRAGON: 0.0