# Currently changes a strider's speed to be between 0.175 (Default) and 0.3375 (Horse max speed)
# as well as default health to between 20 (Default) and 50 (2.5 heart bars)
# Only works on newly spawned striders, not pre-existing mobs
enabled: false
# Default strider speed is 0.175
minSpeed: 0.175
# Max horse speed is 0.3375
maxSpeed: 0.3375
# 10 Hearts
minHealth: 20
# 25 Hearts
maxHealth: 50