enabled: true
# Please do not change any of the values below, otherwise it will undermine the test.
boolValue: true
byteValue: 8
shortValue: 14646
intValue: 33822776
longValue: 2486941267899177
maybeLongValue: 6543
floatValue: 3847.1234
doubleValue: 345978623.178569873
charValue: 'c'