database:
  ==: vg.civcraft.mc.civmodcore.dao.ManagedDatasource
  plugin: CivModCore  
  user: '{{ mysql_user }}'
  password: '{{ mysql_non_root_pass }}'
  host: '{{ mysql_host }}'
  port: 3306
  database: '{{ mysql_db_name }}'
  poolsize: 5
  connection_timeout: 10000
  idle_timeout: 600000
  max_lifetime: 7200000
scoreboardHeader: "&2&lCivClassic"
