world:
  randomspawnon:
    - firstjoin
    - respawn
  # - bedrespawn
  spawnpointson:
    - firstjoin
    - newplayer
  keeprandomspawns: false
  newplayertime: 3000
  spawnarea:
    type: "circle"
    radius: 7000
  spawnbyplayer: false
  spawnbyplayerarea:
    exclusionradius: 300
    radius: 900
  spawnblacklist:
    - "WATER" # 8, 9 # water
    - "LAVA" # 10, 11 # lava
    # - 18 # leaves
    - "FIRE" # 51 # fire
    - "CACTUS" # 81 # cactus
    - "OBSIDIAN" # 49 # obsidian - don't spawn in military infrastructure
    - "BLACK_CARPET" # 171 # carpet - don't spawn in military infrastructure
    - "BLUE_CARPET"
    - "BROWN_CARPET"
    - "CYAN_CARPET"
    - "GRAY_CARPET"
    - "GREEN_CARPET"
    - "LIGHT_BLUE_CARPET"
    - "LIGHT_GRAY_CARPET"
    - "LIME_CARPET"
    - "MAGENTA_CARPET"
    - "ORANGE_CARPET"
    - "PINK_CARPET"
    - "PURPLE_CARPET"
    - "RED_CARPET"
    - "WHITE_CARPET"
    - "YELLOW_CARPET"
  spawnpoints:
    Adina: # @ImperatorMendes#7400
      x: 4861
      y: 999 # overridden in code, but must be set
      z: 5803
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Bloom: # @Slushhi#9387
      x: -2196
      y: 999 # overridden in code, but must be set
      z: -2576
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Caledonia: # @Wingzero54#1992
      x: 8871
      y: 999 # overridden in code, but must be set
      z: 553
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Commonwealth: # @Falvyu#5899
      x: -7100
      y: 999 # overridden in code, but must be set
      z: 5100
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    GrandImperium: # @--#8735
      x: -1800
      y: 999 # overridden in code, but must be set
      z: -5430
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    ImperialTruidence: # @Obtainable Spatula#1945
      x: -1000
      y: 999 # overridden in code, but must be set
      z: -400
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    MountAugusta: # @[TCS] citylion#3257
      x: -6699
      y: 999 # overridden in code, but must be set
      z: 2990
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Pacem: # @Shtim#8285
      x: -714
      y: 999 # overridden in code, but must be set
      z: 9741
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Southshire: # @Eduardoooo#1312
      x: -7785
      y: 999 # overridden in code, but must be set
      z: 5927
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Varkonia: # @Mickale#6186
      x: -4790
      y: 999 # overridden in code, but must be set
      z: -3900
      nearby: true # require another player nearby?
      checkradius: 700 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
