world:
  randomspawnon:
    - firstjoin
    - respawn
  # - bedrespawn
  spawnpointson:
    - firstjoin
    - newplayer
  keeprandomspawns: false
  newplayertime: 3000
  spawnarea:
    type: "circle"
    radius: 7000
  spawnbyplayer: false
  spawnbyplayerarea:
    exclusionradius: 300
    radius: 900
  spawnblacklist:
    - "WATER" # 8, 9 # water
    - "LAVA" # 10, 11 # lava
    # - 18 # leaves
    - "FIRE" # 51 # fire
    - "CACTUS" # 81 # cactus
    - "OBSIDIAN" # 49 # obsidian - don't spawn in military infrastructure
    - "BLACK_CARPET" # 171 # carpet - don't spawn in military infrastructure
    - "BLUE_CARPET"
    - "BROWN_CARPET"
    - "CYAN_CARPET"
    - "GRAY_CARPET"
    - "GREEN_CARPET"
    - "LIGHT_BLUE_CARPET"
    - "LIGHT_GRAY_CARPET"
    - "LIME_CARPET"
    - "MAGENTA_CARPET"
    - "ORANGE_CARPET"
    - "PINK_CARPET"
    - "PURPLE_CARPET"
    - "RED_CARPET"
    - "WHITE_CARPET"
    - "YELLOW_CARPET"
  spawnpoints:
    Acadia: #SpacemanSpleef#0212
      x: 3600
      y: 250 # overridden in code, but must be set
      z: -9950
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Caledonia: # @Wingzero54#1992
      x: 8871
      y: 250 # overridden in code, but must be set
      z: 553
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Columbia: # @Knota#7633
      x: -5000
      y: 250 # overridden in code, but must be set
      z: -10000
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius  
    Commonwealth: # @Falvyu#5899
      x: -7100
      y: 250 # overridden in code, but must be set
      z: 5100
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius  
    Gabon: # @Danny#1931
      x: -3000
      y: 250 # overridden in code, but must be set
      z: -2300
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Icenia: # @chrischrispie#7502
      x: -1720
      y: 250 # overridden in code, but must be set
      z: -1337
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    ImperialTruidence: # @Obtainable Spatula#1945
      x: -1000
      y: 250 # overridden in code, but must be set
      z: -400
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Iria: # @Square#6920
      x: 10678
      y: 250 # overridden in code, but must be set
      z: -765
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Kallos: #jeff#7004
      x: -7100
      y: 250 # overridden in code, but must be set
      z: -150
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Lambat: #kaprediem#3161
      x: 6970
      y: 250 # overridden in code, but must be set
      z: -1650
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Lusitania: #Metriximor#1682
      x: -7755
      y: 250 # overridden in code, but must be set
      z: -3545
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    MountSeptember: # @Square#6920
      x: -4965
      y: 250 # overridden in code, but must be set
      z: 2232
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Pacem: # @Shtim#8285
      x: -714
      y: 250 # overridden in code, but must be set
      z: 9741
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Southshire: # @Eduardoooo#1312
      x: -7785
      y: 250 # overridden in code, but must be set
      z: 5927
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    SPQR: # @Antonius_Jones#3496
      x: -10524
      y: 250 # overridden in code, but must be set
      z: -5610
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Varkonia: # @Mickale#6186
      x: -4790
      y: 250 # overridden in code, but must be set
      z: -3900
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 200 # spawn area outer radius
      exclusion: 0 # spawn area inner radius
    Yoahtl: # @Aki#3250
      x: -4989
      y: 250 # overridden in code, but must be set
      z: 6887
      nearby: true # require another player nearby?
      checkradius: 900 # require another player closer than this
      radius: 215 # spawn area outer radius
      exclusion: 78 # spawn area inner radius
