header: "&6&kAAAA&r&6&l Welcome to CivClassic &r&6&kAAAA\n&bUse /logout to quit\n&cRequest help on /r/civclassics"
footer: "&4&lAdmins: &r&3Maxopoly, ribagi, & Dsclouse\n\n&9Join the Official Discord: &9https://discord.gg/Wr7dEuP"