header: "&6&kAAAA&r&6&l Welcome to CivClassic &r&6&kAAAA\n&bUse /logout to quit\n&cRequest help with /helpop"
footer: "&4&lAdmins: &r&3TealNerd, iebagi, & Dsclouse\n\n&6&lpatreon.com/civclassic or paypal.me/tealnerd\n&r&6$10 for a colored name or $25 for a &4r&6a&ei&2n&3b&1o&5w &6name"
