NETHER_WART_9:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_WART
  amount: 9
NETHER_WART_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_WART_BLOCK
RED_MUSHROOM_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: RED_MUSHROOM
  amount: 4
RED_MUSHROOM_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: RED_MUSHROOM_BLOCK
RED_MUSHROOM_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: RED_MUSHROOM
BROWN_MUSHROOM_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BROWN_MUSHROOM
  amount: 4
BROWN_MUSHROOM_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BROWN_MUSHROOM_BLOCK
BROWN_MUSHROOM_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BROWN_MUSHROOM
GRANITE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: GRANITE
POLISHED_GRANITE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_GRANITE
DIORITE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: DIORITE
POLISHED_DIORITE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_DIORITE
ANDESITE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: ANDESITE
POLISHED_ANDESITE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_ANDESITE
BASALT_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BASALT
POLISHED_BASALT_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_BASALT
BRICK_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BRICK
  amount: 4
BRICKS_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BRICKS
CLAY_BALL_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: CLAY_BALL
  amount: 4
CLAY_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: CLAY
GLOWSTONE_DUST_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: GLOWSTONE_DUST
  amount: 4
GLOWSTONE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: GLOWSTONE
NETHER_BRICK_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_BRICK
  amount: 4
NETHER_BRICKS_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_BRICKS
PRISMARINE_SHARD_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PRISMARINE_SHARD
  amount: 4
PRISMARINE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PRISMARINE
POPPED_CHORUS_FRUIT_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POPPED_CHORUS_FRUIT
PURPUR_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PURPUR_BLOCK
SNOWBALL_4:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: SNOWBALL
  amount: 4
SNOW_BLOCK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: SNOW_BLOCK
OAK_PLANKS_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: OAK_PLANKS
STICK_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: STICK
EXPERIENCE_BOTTLE_9:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: EXPERIENCE_BOTTLE
  amount: 9
EMERALD_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: EMERALD
EXPERIENCE_BOTTLE_1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: EXPERIENCE_BOTTLE
