NETHER_WART:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_WART
  amount: 9
NETHER_WART_BLOCK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_WART_BLOCK
RED_MUSHROOM:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: RED_MUSHROOM
  amount: 9
RED_MUSHROOM_BLOCK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: RED_MUSHROOM_BLOCK
RED_MUSHROOM1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: RED_MUSHROOM
BROWN_MUSHROOM:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BROWN_MUSHROOM
  amount: 9
BROWN_MUSHROOM_BLOCK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BROWN_MUSHROOM_BLOCK
BROWN_MUSHROOM1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BROWN_MUSHROOM
GRANITE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: GRANITE
  amount: 4
POLISHED_GRANITE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_GRANITE
DIORITE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: DIORITE
  amount: 4
POLISHED_DIORITE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_DIORITE
ANDESITE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: ANDESITE
  amount: 4
POLISHED_ANDESITE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_ANDESITE
BASALT:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BASALT
  amount: 4
POLISHED_BASALT:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POLISHED_BASALT
BRICK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BRICK
  amount: 4
BRICKS:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: BRICKS
CLAY_BALL:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: CLAY_BALL
  amount: 4
CLAY:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: CLAY
GLOWSTONE_DUST:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: GLOWSTONE_DUST
  amount: 4
GLOWSTONE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: GLOWSTONE
NETHER_BRICK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_BRICK
  amount: 4
NETHER_BRICKS:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: NETHER_BRICKS
PRISMARINE_SHARD:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PRISMARINE_SHARD
  amount: 4
PRISMARINE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PRISMARINE
POPPED_CHORUS_FRUIT:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: POPPED_CHORUS_FRUIT
  amount: 4
PURPUR_BLOCK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PURPUR_BLOCK
SNOWBALL:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: SNOWBALL
  amount: 4
SNOW_BLOCK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: SNOW_BLOCK
OAK_PLANKS:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: OAK_PLANKS
STICK:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: STICK
EXPERIENCE_BOTTLE:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: EXPERIENCE_BOTTLE
  amount: 9
EMERALD:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: EMERALD
EXPERIENCE_BOTTLE1:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: EXPERIENCE_BOTTLE
PUMPKIN:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: PUMPKIN
CARVED_PUMPKIN:
  ==: org.bukkit.inventory.ItemStack
  v: 2586
  type: CARVED_PUMPKIN
