recipe1:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: NETHER_WART_9
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - NETHER_WART_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe2:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: RED_MUSHROOM_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - RED_MUSHROOM_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe3:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: RED_MUSHROOM_BLOCK_1
  hidden: false
  recipe:
  - RED_MUSHROOM_1
  - RED_MUSHROOM_1
  - null
  - RED_MUSHROOM_1
  - RED_MUSHROOM_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
recipe4:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BROWN_MUSHROOM_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BROWN_MUSHROOM_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe5:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BROWN_MUSHROOM_BLOCK_1
  hidden: false
  recipe:
  - BROWN_MUSHROOM_1
  - BROWN_MUSHROOM_1
  - null
  - BROWN_MUSHROOM_1
  - BROWN_MUSHROOM_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
recipe6:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: GRANITE_1
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_GRANITE_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe7:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: DIORITE_1
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_DIORITE_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe8:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: ANDESITE_1
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_ANDESITE_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe9:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BASALT_1
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_BASALT_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe10:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BRICK_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BRICKS_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe11:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: CLAY_BALL_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - CLAY_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe12:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: GLOWSTONE_DUST_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - GLOWSTONE_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe13:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: NETHER_BRICK_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - NETHER_BRICKS_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe14:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: PRISMARINE_SHARD_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - PRISMARINE_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe15:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: POPPED_CHORUS_FRUIT_1
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - PURPUR_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe17:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: SNOWBALL_4
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - SNOW_BLOCK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe18:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: OAK_PLANKS_1
  hidden: false
  recipe:
  - STICK_1
  - STICK_1
  - null
  - STICK_1
  - STICK_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
recipe19:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: EXPERIENCE_BOTTLE_9
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - EMERALD_1
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe20:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: EMERALD
  hidden: false
  recipe:
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  - EXPERIENCE_BOTTLE_1
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
