recipe1:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: NETHER_WART
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - NETHER_WART_BLOCK
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe2:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BROWN_MUSHROOM
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - RED_MUSHROOM_BLOCK
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe3:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: RED_MUSHROOM_BLOCK
  hidden: false
  recipe:
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  - RED_MUSHROOM1
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
recipe4:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BROWN_MUSHROOM
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BROWN_MUSHROOM_BLOCK
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe5:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BROWN_MUSHROOM_BLOCK
  hidden: false
  recipe:
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  - BROWN_MUSHROOM1
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
recipe6:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: GRANITE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_GRANITE
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe7:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: DIORITE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_DIORITE
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe8:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: ANDESITE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_ANDESITE
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe9:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BASALT
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - POLISHED_BASALT
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe10:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: BRICK
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - BRICKS
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe11:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: CLAY_BALL
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - CLAY
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe12:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: GLOWSTONE_DUST
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - GLOWSTONE
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe13:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: NETHER_BRICK
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - NETHER_BRICKS
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe14:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: PRISMARINE_SHARD
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - PRISMARINE
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe15:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: POPPED_CHORUS_FRUIT
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - PURPUR_BLOCK
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe17:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: SNOWBALL
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - SNOW_BLOCK
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe18:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: OAK_PLANKS
  hidden: false
  recipe:
  - STICK
  - STICK
  - null
  - STICK
  - STICK
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
recipe19:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: EXPERIENCE_BOTTLE
  hidden: false
  recipe:
  - null
  - null
  - null
  - null
  - EMERALD
  - null
  - null
  - null
  - null
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: true
recipe20:
  ==: com.dutchjelly.craftenhance.crafthandling.recipes.WBRecipe
  result: EMERALD
  hidden: false
  recipe:
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  - EXPERIENCE_BOTTLE1
  permission: null
  slot: -1
  page: -1
  matchmeta: false
  shapeless: false
