cache_entire_database: true

 # Set to true if you want tapping a plant with bonemeal to double it.
allow_tallplant_replication: true

 # categories of biomes
biome_aliases:
  water:
  - BEACH
  - DEEP_OCEAN
  - RIVER
  - OCEAN
  - STONE_SHORE
  freshwater:
  - RIVER
  - FROZEN_RIVER
  cold_water:
  - SNOWY_BEACH
  - FROZEN_OCEAN
  - FROZEN_RIVER
  temperate:
  - PLAINS
  - SUNFLOWER_PLAINS
  - SAVANNA
  - SAVANNA_PLATEAU
  - SHATTERED_SAVANNA
  - SHATTERED_SAVANNA_PLATEAU
  foresty:
  - BIRCH_FOREST
  - BIRCH_FOREST_HILLS
  - DARK_FOREST
  - DARK_FOREST_HILLS
  - FLOWER_FOREST
  - FOREST
  - TALL_BIRCH_FOREST
  - TALL_BIRCH_HILLS
  - WOODED_HILLS
  cold:
  - ICE_SPIKES
  - GIANT_SPRUCE_TAIGA
  - GIANT_SPRUCE_TAIGA_HILLS
  - GIANT_TREE_TAIGA
  - GIANT_TREE_TAIGA_HILLS
  - TAIGA
  - TAIGA_HILLS
  - TAIGA_MOUNTAINS
  - SNOWY_TUNDRA
  - SNOWY_MOUNTAINS
  - SNOWY_TAIGA
  - SNOWY_TAIGA_HILLS
  - SNOWY_TAIGA_MOUNTAINS
  - MOUNTAINS
  - MOUNTAIN_EDGE
  - GRAVELLY_MOUNTAINS
  - MODIFIED_GRAVELLY_MOUNTAINS
  - WOODED_MOUNTAINS
  cold_forest:
  - GIANT_SPRUCE_TAIGA
  - GIANT_SPRUCE_TAIGA_HILLS
  - GIANT_TREE_TAIGA
  - GIANT_TREE_TAIGA_HILLS
  - TAIGA
  - TAIGA_HILLS
  - TAIGA_MOUNTAINS
  hot_dry:
  - DESERT
  - DESERT_HILLS
  - DESERT_LAKES
  - BADLANDS
  - BADLANDS_PLATEAU
  - ERODED_BADLANDS
  - WOODED_BADLANDS_PLATEAU
  hot_rainy:
  - JUNGLE
  - JUNGLE_EDGE
  - JUNGLE_HILLS
  - MODIFIED_JUNGLE
  - MODIFIED_JUNGLE_EDGE
  - SWAMP
  - SWAMP_HILLS
  mountain:
  - MOUNTAINS
  - MOUNTAIN_EDGE
  - GRAVELLY_MOUNTAINS
  - MODIFIED_GRAVELLY_MOUNTAINS
  - WOODED_MOUNTAINS
  mesa:
  - BADLANDS
  - BADLANDS_PLATEAU
  - ERODED_BADLANDS
  - WOODED_BADLANDS_PLATEAU
  - MODIFIED_BADLANDS_PLATEAU
  - MODIFIED_WOODED_BADLANDS_PLATEAU
  mushroom:
  - MUSHROOM_FIELDS
  - MUSHROOM_FIELD_SHORE
  swampy:
  - SWAMP
  - SWAMP_HILLS
  nether:
  - NETHER_WASTES
  - SOUL_SAND_VALLEY
  - CRIMSON_FOREST
  - WARPED_FOREST
  - BASALT_DELTAS  
  end:
  - END_BARRENS
  - END_HIGHLANDS
  - END_MIDLANDS
  - THE_VOID
  - THE_END
  other:
  - END_BARRENS
  - END_HIGHLANDS
  - END_MIDLANDS
  - THE_VOID
  - THE_END
  - NETHER_WASTES
  - SOUL_SAND_VALLEY
  - CRIMSON_FOREST
  - WARPED_FOREST
  - BASALT_DELTAS  


plants:

# formerly inheriting CROP properties

  WHEAT:
   persistent_growth_period: 3h
   soil_max_layers: 4
   soil_boni:
    CLAY: 0.5
   biomes:
    temperate: 1.0
    foresty: 0.75 
    other: 0.5
    cold: 0.25
    hot_dry: 0.25
    mountain: 0.25
    mesa: 0.25
    mushroom: 0.25
    water: 0.1
    cold_water: 0.1
    hot_rainy: 0.1 

  CARROT:
   persistent_growth_period: 3h
   biomes:
    hot_rainy: 1.0
    swampy: 0.5
    temperate: 0.25
    hot_dry: 0.1
    mesa: 0.1
    end: 0.1

  POTATO:
   persistent_growth_period: 3h
   biomes:
    mountain: 1.0
    temperate: 0.5
    cold: 0.25
    mesa: 0.1
    other: 0.1

  BEETROOT:
   persistent_growth_period: 3h
   biomes:    
    temperate: 1.0
    foresty: 0.75
    other: 0.5
    cold: 0.25
    hot_dry: 0.25
    mesa: 0.25
    mountain: 0.25
    mushroom: 0.25
  
  NETHER_WART:
   persistent_growth_period: 16h
   needs_sun_light: false
   soil_max_layers: 4
   soil_boni:
     SOUL_SAND: 0.5
   biomes:
    nether: 1.0
    mushroom: 0.5
    hot_dry: 0.25

  COCOA:
   persistent_growth_period: 24h
   soil_max_layers: 25
   soil_boni:
     VINE: 0.3
   biomes:
    hot_rainy: 1.0


  MELON:
   persistent_growth_period: 3h
   biomes:
    swampy: 1.0
    hot_rainy: 0.5
    temperate: 0.25


  MELON_STEM:
   persistent_growth_period: 12h
   biomes:
    swampy: 1.0
    hot_rainy: 0.5
    temperate: 0.25

  PUMPKIN:
   persistent_growth_period: 3h
   biomes:
    cold: 1.0
    temperate: 0.25

  PUMPKIN_STEM:
   persistent_growth_period: 12h
   biomes:
    cold: 1.0
    temperate: 0.25

# formerly inheriting Column properties

  CACTUS:
   persistent_growth_period: 6h
   biomes:
    hot_dry: 1.0
    nether: 0.5
    mesa: 0.5

  SUGAR_CANE:
   persistent_growth_period: 6h
   biomes:
    hot_rainy: 1.0
    swampy: 0.5
    water: 0.5

# formerly inheriting "basetree" properties

  OAK_SAPLING:
   persistent_growth_period: 6h
   biomes:
    mushroom: 0.5
    freshwater: 0.5
    swampy: 0.5
    foresty: 2.0
    temperate: 0.25
    hot_rainy: 0.5
    other: 0.25

  BIRCH_SAPLING:
   persistent_growth_period: 6h
   biomes:
    foresty: 2.0
    mushroom: 0.5
    freshwater: 0.5
    temperate: 0.25

  SPRUCE_SAPLING:
   persistent_growth_period: 6h
   biomes:
    mushroom: 0.5
    freshwater: 0.5
    cold: 0.75
    cold_forest: 2.0
    mountain: 0.75

  JUNGLE_SAPLING:
   persistent_growth_period: 6h
   biomes:
    hot_rainy: 1.0

  ACACIA_SAPLING:
   persistent_growth_period: 6h
   biomes:
    hot_dry: 2.0
    mesa: 2.0
    temperate: 1.0
    mushroom: 0.0
    freshwater: 0.0

  DARK_OAK_SAPLING:
   persistent_growth_period: 6h
   biomes:
    swampy: 2.0
    foresty: 1.0
    cold_forest: 0.5
    freshwater: 0.5

database:
  ==: vg.civcraft.mc.civmodcore.dao.ManagedDatasource
  plugin: RealisticBiomes
  user: '{{ mysql_user }}'
  password: '{{ mysql_non_root_pass }}'
  host: '{{ mysql_host }}'   
  port: 3306
  database: '{{ mysql_db_name }}'
  poolsize: 5
  connection_timeout: 10000
  idle_timeout: 600000
  max_lifetime: 7200000
