sentrequest: '&6&l(!) &r&6You sent a trade request to &e%PLAYER%'
receivedrequest: '&6&l(!) &r&6You received a trade request from &e%PLAYER%%NEWLINE%&6&l(!)
  &r&6Type &e/trade %PLAYER% &6to begin trading'
receivedrequesthover: '&6&lClick here to trade with &e&l%PLAYER%'
withinrange: '&4&l(!) &r&4You must be within %AMOUNT% blocks of a player to trade
  with them'
withinrangecrossworld: '&4&l(!) &r&4You must be within %AMOUNT% blocks of a player%NEWLINE%&4&l(!)
  &r&4in a different world to trade with them!'
nocrossworld: '&4&l(!) &r&4You must be in the same world as a player to trade with
  them!'
senderaccept: '&6&l(!) &r&e%PLAYER% &6accepted your trade request'
receiveraccept: '&6&l(!) &r&6You accepted &e%PLAYER%''s &6trade request'
cancelled: '&4&l(!) &r&4The trade was cancelled'
expired: '&4&l(!) &r&4Your last trade request expired'
waitforexpire: '&4&l(!) &r&4You still have an active trade request%NEWLINE%&4&l(!)
  &r&4It will expire shortly'
playernotfound: '&4&l(!) &r&4Could not find specified player'
tradewithself: '&4&l(!) &r&4You cannot trade with yourself'
invalidusage: '&4&l(!) &r&4Invalid arguments. Usage: &c/trade <player name>'
noperms: '&4&l(!) &r&4You do not have permission to trade'
nopermsreceiver: '&4&l(!) &r&4That player does not have permission to trade'
tradecomplete: '&6&l(!) &r&6The trade was successful!'
forcedtrade: '&6&l(!) &r&6You''ve been forced into a trade with &e%PLAYER%'