ConfigVersion: 13
Booleans:
  UseCache: true
  Enabled: true
  UpdateOnDamage: true
  NoObfuscationForMetadata: true
  NoObfuscationForOps: false
  NoObfuscationForPermission: false
  LoginNotification: true
Integers:
  MaxLoadedCacheFiles: 64
  DeleteCacheFilesAfterDays: 0
  EngineMode: 2
  InitialRadius: 1
  UpdateRadius: 2
Strings:
  CacheLocation: orebfuscator_cache
  NoObfuscationForMetadataTagName: NPC
Lists:
  TransparentBlocks: []
  NonTransparentBlocks: []
Worlds:
  Default:
    Types:
    - DEFAULT
    Enabled: false
    AntiTexturePackAndFreecam: true
    AirGeneratorMaxChance: 43
    DarknessHideBlocks: false
    BypassObfuscationForSignsWithText: false
    DarknessBlocks:
    - MOB_SPAWNER
    - CHEST
    Mode1Block: STONE
    RandomBlocks: []
    ObfuscateBlocks: []
    ProximityHider:
      Enabled: true
      Distance: 8
      SpecialBlock: STONE
      Y: 255
      UseSpecialBlock: true
      ObfuscateAboveY: false
      ProximityHiderBlocks:
      - DISPENSER
      - MOB_SPAWNER
      - CHEST
      - DIAMOND_ORE
      - WORKBENCH
      - FURNACE
      - BURNING_FURNACE
      - ENCHANTMENT_TABLE
      - EMERALD_ORE
      - ENDER_CHEST
      - ANVIL
      - TRAPPED_CHEST
      - BLAST_FURNACE
      - SMOKER
      - STONECUTTER
      - LOOM
      - COMPOSTER
      - CARTOGRAPHY_TABLE
      - BARREL
      - JUKEBOX # Log Snitch
      - NOTE_BLOCK # Snitch
      - SPONGE # Vault Bastion
      UseFastGazeCheck: true
  Normal:
    Types:
    - NORMAL
    Mode1Block: STONE
    RandomBlocks:
    - STONE
    - COBBLESTONE
    - MOSSY_COBBLESTONE
    - ACACIA_PLANKS
    - BIRCH_PLANKS
    - DARK_OAK_PLANKS
    - JUNGLE_PLANKS
    - OAK_PLANKS
    - SPRUCE_PLANKS
    - OBSIDIAN
    - PACKED_ICE
    - CLAY
    ObfuscateBlocks:
    - MOSSY_COBBLESTONE
    - COAL_ORE
    - LAPIS_ORE
    - REDSTONE_ORE
    - GLOWING_REDSTONE_ORE
    - IRON_ORE
    - GOLD_ORE
    - DIAMOND_ORE
    - EMERALD_ORE
    - CLAY
    - CHEST
    - TRAPPED_CHEST
    - ENDER_CHEST
  TheEnd:
    Types:
    - THE_END
    Mode1Block: END_STONE
    RandomBlocks:
    - BEDROCK
    - OBSIDIAN
    - ENDER_STONE
    - PURPUR_BLOCK
    - END_BRICKS
    ObfuscateBlocks:
    - END_STONE
  EnabledWorlds:
    Names:
    - world
    Enabled: true
