# can be mysql or sqlite
database-type: mysql

mysql:
  username: '{{ mysql_user }}'
  host: '{{ mysql_host }}'
  password: '{{ mysql_non_root_pass }}'
  database: '{{ mysql_db_name }}'
  port: 3306
sqlite:
  file-name: data.db

timings: false
