prefix: ''
alert_user: true
list_drops: false
debug: false
ignore_silktouch: true
map_save_active: false

transform_attempt_multiplier: 3
tools: {}
blocks:
   stone:
      allTypes: false
      materials:
         stone:
            material: STONE
         cobblestone:
            material: COBBLESTONE
         dirt:
            material: DIRT
         andesite:
            material: ANDESITE
         diorite:
            material: DIORITE
         granite:
            material: GRANITE
         hard_clay:
            material: TERRACOTTA
         gravel:
            material: GRAVEL
      dropMultiple: false
      dropList:
      - coal_ore_transform
      - iron_ore_transform
      - redstone_ore_transform
      - gold_ore_transform
      - lapis_ore_transform
      - fossil_drop
      - diamond_ore_vein
   rack:
      material: NETHERRACK
      dropMultiple: false
      drops:
      - quartz_transform
drops:
   fossil_drop:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: PRISMARINE_SHARD
         amount: 1
         meta:
            ==: ItemMeta
            meta-type: UNSPECIFIC
            display-name: §3Fossil
            lore:
            - Crack me in a factory for a prize!
      minY: 1
      maxY: 256
      chance: 0.0075
      minAmount: 1
      maxAmount: 1
   quartz_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: QUARTZ_ORE
         amount: 1
      minY: 1
      maxY: 256
      chance: 0.004
      minAmount: 2
      maxAmount: 6
      transformIfAble: true
   coal_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: COAL_ORE
         amount: 1
      minY: 1
      maxY: 256
      chance: 0.012
      minAmount: 2
      maxAmount: 6
      transformIfAble: true
   iron_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: IRON_ORE
         amount: 1
      minY: 1
      maxY: 256
      chance: 0.015
      minAmount: 1
      maxAmount: 4
      transformIfAble: true
      biomes:
         MESA:
            chance: 0.01
         MESA_ROCK:
            chance: 0.01
         MESA_CLEAR_ROCK:
            chance: 0.01
   gold_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: GOLD_ORE
         amount: 1
      minY: 1
      maxY: 70
      chance: 0.0035
      minAmount: 1
      maxAmount: 4
      transformIfAble: true
   redstone_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: REDSTONE_ORE
         amount: 1
      minY: 1
      maxY: 70
      chance: 0.0040
      minAmount: 1
      maxAmount: 3
      transformIfAble: true
   lapis_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: LAPIS_ORE
         amount: 1
      minY: 1
      maxY: 70
      chance: 0.0045
      minAmount: 1
      maxAmount: 4
      transformIfAble: true
   emerald_ore_dank:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: EMERALD_ORE
         amount: 1
      minY: 42
      maxY: 42
      chance: 3.0E-8
      minAmount: 1
      maxAmount: 1
      transformIfAble: true
   diamond_ore_vein:
      prefix: You sense a diamond nearby
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: DIAMOND_ORE
         amount: 1
      minY: 1
      maxY: 16
      chance: 1.0
      transformIfAble: true
#if you're using a blockconfig for a vein you probably want chance at 100%
#and configure chance in the vein itself as density
      minAmount: 1
      maxAmount: 1
      transformIfAble: true
      veinNature:
#used for generator, should be different for each vein
         densitySeed: "{{ hidden_ore_density_seed }}"
         heightSeed: "{{ hidden_ore_height_seed }}"
         density: 0.18
#ore chance multiplier
         maxSpan: 3
#max thickness of the vein
         densityBonus: -0.55
#applied to the result of the noise function which will be between -1 and 1
#added before density is applied
#e.g. 0.0 will result in 50% ore coverage, -0.5 25%, -1 0%, 1 100%
         areaHeight: 8
#the average height of the veins
         areaSpan: 5
#maximum random difference from the average
         heightLength: 10
#distance in blocks between height slope change
         densityLength: 70
#distance in blocks between density slope change
         forceVisibleTransform: true
# Basically, if a vein block condition is met, check all immediate neighboring, and now visible blocks
# if they should be revealed, subject to the drop & block configurations.
# revealed as well
