prefix: ''
alert_user: true
list_drops: false
debug: false
ignore_silktouch: true
map_save_active: false

transform_attempt_multiplier: 3
tools:
   anything:
      ignore:
         all: true
      modifiers:
         dropChance: 0.95
         minAmount: 0.0
         maxAmount: 0.0
   wood_pickaxe:
# Give the item a "friendly name" that you'll use in the "tools" section of each drop config.
      template:
# Open an issue if the config-advanced.yml data doesn't give you enough to go on to
#  design the template of your desire.
         ==: org.bukkit.inventory.ItemStack
         type: WOODEN_PICKAXE
         amount: 1
      ignore:
         amount: true
# Ignore the amount held.
         durability: true
# Ignore the durability of the item held.
         enchants: true
# Ignore all enchantments.
         otherEnchants: true
# Ignore any enchantments not specified in the template
         enchantsLvl: true
# Ignore the specific lvl of the enchantments considered
         lore: true
# Ignore any differences in lore
         name: true
# Ignore any differences in display name.
      modifiers:
         dropChance: 0.95
# Multiplier to drop chance; applied _after_ biome computation
         minAmount: 0.0
# Adder on minimum drop size; so, drop config min + this min.
         maxAmount: 0.0
# Adder on maximum drop size; so, drop config max + this max. Both can be negative.
   gold_pickaxe:
      template:
         ==: org.bukkit.inventory.ItemStack
         type: GOLDEN_PICKAXE
         amount: 1
      ignore:
         amount: true
         durability: true
         enchants: true
         otherEnchants: true
         enchantsLvl: true
         lore: true
         name: true
      modifiers:
         dropChance: 0.95
         minAmount: 0.0
         maxAmount: 0.0
   iron_pickaxe:
      template:
         ==: org.bukkit.inventory.ItemStack
         type: IRON_PICKAXE
         amount: 1
      ignore:
         amount: true
         durability: true
         enchants: true
         otherEnchants: true
         enchantsLvl: true
         lore: true
         name: true
      modifiers:
         dropChance: 1.0
         minAmount: 0.0
         maxAmount: 0.0
   stone_pickaxe:
      template:
         ==: org.bukkit.inventory.ItemStack
         type: STONE_PICKAXE
         amount: 1
      ignore:
         amount: true
         durability: true
         enchants: true
         otherEnchants: true
         enchantsLvl: true
         lore: true
         name: true
      modifiers:
         dropChance: 0.95
         minAmount: 0.0
         maxAmount: 0.0
   diamond_pickaxe:
      template:
         ==: org.bukkit.inventory.ItemStack
         type: DIAMOND_PICKAXE
         amount: 1
      ignore:
         amount: true
         durability: true
         enchants: true
         otherEnchants: true
         enchantsLvl: true
         lore: true
         name: true
      modifiers:
         dropChance: 0.95
         minAmount: 0.0
         maxAmount: 0.0
blocks:
   stone:
      material: STONE
      allTypes: false
      validTransforms:
         cobblestone:
            material: COBBLESTONE
         dirt:
            material: DIRT
         andesite:
            material: ANDESITE
         diorite:
            material: DIORITE
         granite:
            material: GRANITE
         terra:
            material: TERRACOTTA
         gravel:
            material: GRAVEL
      dropMultiple: false
      dropList:
      - coal_ore_transform
      - iron_ore_transform
      - redstone_ore_transform
      - gold_ore_transform
      - lapis_ore_transform
      - fossil_drop
      - diamond_ore_vein
   terracotta:
      material: TERRACOTTA
      allTypes: true
      validTransforms:
         cobblestone:
            material: COBBLESTONE
            allTypes: true
         dirt:
            material: DIRT
         stone:
            material: STONE
         gravel:
            material: GRAVEL
      dropMultiple: false
      dropList:
      - coal_ore_transform
      - iron_ore_transform
      - redstone_ore_transform
      - gold_ore_transform
      - lapis_ore_transform
      - fossil_drop
      - diamond_ore_vein
   rack:
      material: NETHERRACK
      allTypes: true
      validTransforms:
         netherrack:
            material: NETHERRACK
            allTypes: true
      dropMultiple: false
      drops:
      - quartz_transform
drops:
   fossil_drop:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: PRISMARINE_SHARD
         amount: 1
         meta:
            ==: ItemMeta
            meta-type: UNSPECIFIC
            display-name: §3Fossil
            lore:
            - Crack me in a factory for a prize!
      minY: 1
      maxY: 256
      chance: 0.005
      minAmount: 1
      maxAmount: 1
   quartz_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: NETHER_QUARTZ_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 256
      chance: 0.004
      minAmount: 2
      maxAmount: 6
      transformIfAble: true
   coal_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: COAL_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 256
      chance: 0.012
      minAmount: 3
      maxAmount: 12
      transformIfAble: true
   diamond_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: DIAMOND_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 16
      chance: 0.00016
      minAmount: 1
      maxAmount: 3
      transformIfAble: true
   iron_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: IRON_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 256
      chance: 0.015
      minAmount: 2
      maxAmount: 8
      transformIfAble: true
      biomes:
         MESA:
            chance: 0.01
         MESA_ROCK:
            chance: 0.01
         MESA_CLEAR_ROCK:
            chance: 0.01
   gold_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: GOLD_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 70
      chance: 0.0013
      minAmount: 2
      maxAmount: 8
      transformIfAble: true
   redstone_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: REDSTONE_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 70
      chance: 0.0013
      minAmount: 1
      maxAmount: 3
      transformIfAble: true
   lapis_ore_transform:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: LAPIS_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 44
      chance: 0.003
      minAmount: 2
      maxAmount: 8
      transformIfAble: true
   emerald_ore_dank:
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: EMERALD_ORE
         amount: 1
      tools:
      - gold_pickaxe
      minY: 42
      maxY: 42
      chance: 0.00000003
      minAmount: 1
      maxAmount: 1
      transformIfAble: true
   diamond_ore_vein:
      prefix: You sense a diamond nearby
      package:
      -  ==: org.bukkit.inventory.ItemStack
         type: DIAMOND_ORE
         amount: 1
      tools:
      - anything
      minY: 1
      maxY: 16
      chance: 0.488
#if you're using a blockconfig for a vein you probably want chance at 100%
#and configure chance in the vein itself as density
      minAmount: 1
      maxAmount: 1
      transformIfAble: true
      veinNature:
#used for generator, should be different for each vein
         densitySeed: "{{ hidden_ore_density_seed }}"
         heightSeed: "{{ hidden_ore_height_seed }}"
         density: 0.03
#ore chance multiplier
         maxSpan: 13
#max thickness of the vein
         densityBonus: -0.3
#applied to the result of the noise function which will be between -1 and 1
#added before density is applied
#e.g. 0.0 will result in 50% ore coverage, -0.5 25%, -1 0%, 1 100%
         areaHeight: 10
#the average height of the veins
         areaSpan: 10
#maximum random difference from the average
         heightLength: 10
#distance in blocks between height slope change
         densityLength: 90
#distance in blocks between density slope change
         forceVisibleTransform: true
# Basically, if a vein block condition is met, check all immediate neighboring, and now visible blocks
# if they should be revealed, subject to the drop & block configurations.
# revealed as well
         loots:
         - diamond_ore_vein
