[
  {
    "uuid": "6a0fd313-c91f-4187-9a0b-027b02692c5d",
    "name": "iebagi",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "5c409916-360e-48cf-84d7-da3e0efa7b6d",
    "name": "Dsclouse",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "3e793264-a25a-4aa8-8104-0bc409694e4c",
    "name": "Maxopoly",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "83342d20-cede-42b4-b9c4-7174487a855e",
    "name": "TealNerd",
    "level": 4,
    "bypassesPlayerLimit": true
  },
  {
    "uuid": "ed797032-28f4-42a6-ab7f-dd34516abe6f",
    "name": "LordOfMarzipan",
    "level": 4,
    "bypassesPlayerLimit": true
  }
]
