#Minecraft server properties
#Sun Mar 10 08:14:24 UTC 2019
spawn-protection=0
server-name=Civclassic
generator-settings=
force-gamemode=false
allow-nether=true
gamemode=0
broadcast-console-to-ops=true
enable-query=false
player-idle-timeout=0
difficulty=3
spawn-monsters=true
op-permission-level=4
pvp=true
snooper-enabled=true
level-type=DEFAULT
hardcore=false
enable-command-block=true
max-players=420
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port={{ mc_port }}
debug=false
server-ip=
spawn-npcs=true
allow-flight=false
level-name=world
view-distance=4
resource-pack=
spawn-animals=true
white-list=false
generate-structures=false
online-mode=true
max-build-height=256
level-seed=
prevent-proxy-connections=false
use-native-transport=true
motd=\u00A73CivClassic\: Now only one major version behind\!
enable-rcon=false
